
    <nav>
      <div class="site-title">
        <a href = "/"><h1>Blog site</h1></a>
        <p>A Blog Site</p>
      </div>
    </nav>

    <nav class="navbar background">
      <ul class="nav-list">
        <li><a href='/' style="text-decoration:none;color:rgb(5, 5, 5);">Home</a></li>
        <li><a href="/about" style="text-decoration:none;color:rgb(5, 5, 5);">About us</a></li>
        <li><a href="/blogs/create" style="text-decoration:none;color:rgb(5, 5, 5);">New Blog</a></li>
      </ul>
    </nav>