<!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>

  <link rel="stylesheet" href="./aboutus.css">
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>
</head>

<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<li><a href='/' style="text-decoration:none;color:rgb(5, 5, 5);">Home</a></li>
			<li><a href="/" style="text-decoration:none;color:rgb(5, 5, 5);">Blogs</a></li>
			<li><a href="/blogs/create" style="text-decoration:none;color:rgb(5, 5, 5);">New Blog</a></li>
		</ul>
	</nav>

	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big"><a 
          style="text-decoration:none;color:rgb(5, 5, 5);">
					ABOUT US</a></p>

				<p class="text-small"><a 
          style="text-decoration:none;color:rgb(5, 5, 5);">
					Here you will get to know the team
					members of our company</a>
				</p>

				<br>
				
				<p class="center"><a 
					style="text-decoration:none;color:rgb(5, 5, 5);">
					Below are the people who
					works in our company</a>
				</p>

			</div>
		</div>
	</section>

	<section class="service">
		<h1 class="h-primary center" style=
			"margin-top:30px;text-align:center;">
			Our Team
		</h1>
		
		<div id="service">
			<div class="box">
				<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20201231132740/Capture.PNG"
					alt="picture not displayed">
				<br>

				<p class="center">
					<a 
						style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive;">
						Ritik Kumar
					</a>
				</p>


				<br>
				
<p>CEO and the Founder</p>

			</div>

			<div class="box">
				<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20201231132740/Capture.PNG"
					alt="picture not displayed">
				<br>

				<p class="center">
					<a 
						style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive;">
						Vipin Yadav
					</a>
				</p>


				<br>
				
<p>Co-founder</p>

				<br>
				

			</div>
		</div>
	</section>

	<section class="services">
		<div id="services">
			<div class="box">
				<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20201231132740/Capture.PNG"
					alt="picture not displayed">
				<br>
				<p class="center">
					<a href="#xyz" style="text-decoration:none;
						color:black;font-weight:bold;
						font-family: 'Langar', cursive;">
						Bhavesh
					</a>
				</p>

				<br>

				
<p>Left Us </p>

			</div>
		</div>
	</section>
	
	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>
